@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@400;700&family=Roboto+Slab:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@400;700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&display=swap');

:root {
    --primary-color: #574A66   ;
    --secondary-color: #919056 ;
    --accent1-color: #8B3CE6;
    --accent2-color: #F5F5DC;

    --heading-font: "Roboto Slab";
    --paragraph-font: "Roboto Condensed";
  
    --headline-color-on-white: #574A66 ;  
    --headline-color-on-color: #F5F5DC; 
    --paragraph-color-on-white:#574A66; 
    --paragraph-color-on-color: #F5F5DC; 
    --paragraph-background-color: #574A66 ;
    --nav-link-color: #574A66;
    --nav-background-color: #919056;
    --nav-hover-link-color: #E6E43C;
    --nav-hover-background-color: #574A66;
  }

body {
    margin: 0;;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--headline-color-on-white);
    font-size: 30px;
}

p, a {
    font-family: var(--paragraph-font);
    color: var(--paragraph-color-on-white);
    font-size: 20px;
  }

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #574A66;
    
}

.logo{
    margin-left: auto;
    order: 2;
}

.logo-img {
    width: 80px;
    height: 80px;
    padding: 10px 10px 10px;
}

.nav-links {
    display: flex; 
    gap: 20px; 
    order: 1;
}

nav a{
    text-align: center;
    color: #F5F5DC;
    text-decoration: none;
    padding-top: 15px;
    padding-left: 35px;
}

nav a:hover {
    background-color: #919056;
    color: #F5F5DC;
}

.content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto auto;
    gap: 20px;

}
    
.heroimg {
    grid-column: 1 / span 2;
    grid-row: 1;
    text-align: left;
    align-self: start;
    width: 100%;
    padding-left: 100px;
    padding-top: 50px;
}
    
.game-img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.upper-content {
    grid-column: 2 / span 2;
    grid-row: 1;
    padding-right: 150px;
    padding-left: 150px;
}

.hero-text {
    text-align: center;
    align-self: end;
}

#main-heading {
    grid-column: 1 / span 3;
    text-align: center;
}

.unity-card {
    grid-column: 1;
    grid-row: 3;
    text-align: left;
    padding-right: 15px;
    padding-left: 15px;
}

.unreal-card {
   grid-column: 2;
   grid-row: 3;
   text-align: left;
   padding-left: 15px;
   padding-right: 15px;
   padding-top: 50px;
}

.game-text {
    padding-top: 100px;
}

.godot-card {
    grid-column: 3;
    grid-row: 3;
    text-align: left;
    padding-right: 15px;

}

#closing-p {
    grid-column: 1 / span 3;
    text-align: center;
    padding-bottom: 10px;
}
    
footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #574A66; 
}

.footer-logo{
    margin-right: auto;
    width: 80px;
    height: 80px;
    padding: 10px 10px 10px;
}

footer p{
    align-self: center;
    color:#F5F5DC;
    margin-right: auto;
}

.footer-links {
    align-self: center;
    color: #F5F5DC;
    margin-right: auto;
}

